.box {
  border: 1px solid black;
  width: 90%;
  height: 50px;
  padding: 50px;
  margin: 50px;
  color: $main-caramel;
  
//   .box_child {
//     border: 1px dotted red;
//     width: 50px;
//     height: 50px;
//     // .box_child_list_item를 &으로 줄일 수도 있긴 함 비추
//     &_list_item { 
//       color: $my-red;
//     }
//   }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #E0A21C;
    }
  }
}

.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card_item {
  // align-items: center;
  width: 111px;
  height: 200px;
  object-fit: cover;
}

.hide_on_bush {
  display: none
}

.posterimg {
  width: 111px;
  height: 200px;
  object-fit: cover;
}