$primary: $main-yellow;
$caramel: $main-caramel;
$dark: $main-dark;
$complementary: #5a3b5d;
$lightsep: rgb(220, 220, 220);

// 메인페이지
@font-face {
  font-family: 'CaramelFont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff'),
       url(../font/Kalam-Regular.ttf) format('truetype'),
       url(../font/YeonSung-Regular.ttf) format('truetype');
  // font-weight: normal;
  // font-style: normal;
}
@font-face {
  font-family: 'PopcornFont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'),
       url(../font/YeonSung-Regular.ttf) format('truetype'),
       url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff'),;
}
@font-face {
  font-family: 'MainFont';
  src: url(../font/YeonSung-Regular.ttf) format('truetype'),
       url(../font/Kalam-Regular.ttf) format('truetype'),
       url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
}

body {
  background: white;
  color: black;
  font-family: 'CaramelFont';
  // width: 100vw;
  // height: 1888px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 16;
  // overflow: hidden;
}
.id {
  width: 100vw;
}
.minititle {
  font-family: 'CaramelFont';
  font-weight: bolder;
  font-size: 25px;
  color: $dark;
  display: relative;
  left: 10%;
}
a {
  text-decoration:none;
  // color: $caramel;
  color: rgb(54, 54, 54);
  &:hover {
    color:rgb(48, 48, 48)
  }
}
// a:hover {
//   color: $caramel;
// }
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#profileReco {
  position: absolute;
  font-family: 'CaramelFont';
  font-size: 35px;
  text-shadow:2px 2px 6px $primary;
  z-index: 1;
  background-color: rgba(255, 255, 249, 0.527);
  box-shadow: 0 0 10px rgba(255, 255, 249, 0.308),
                0 0 20px rgba(255, 255, 249, 0.308),
                0 0 30px rgba(255, 255, 249, 0.308),
                0 0 40px rgba(255, 255, 249, 0.308),
                0 0 50px rgba(255, 255, 249, 0.308),
                0 0 60px rgba(255, 255, 249, 0.308);
                // 0 0 70px rgba(255, 255, 249, 0.308),
                // 0 0 80px rgba(255, 255, 249, 0.308),
                // 0 0 90px rgba(255, 255, 249, 0.308),
                // 0 0 100px rgba(255, 255, 249, 0.308);
  opacity: 0;
  animation: fadein 2s 1s forwards;
}
#profileRec {
  position: absolute;
  font-family: 'CaramelFont';
  font-size: 35px;
  text-shadow:2px 2px 6px $primary;
  z-index: 1;
}
.bannerBox {
  width: 100vw;
  height: 200px;
  padding: 0px;
  margin-top: 0px;
  color: $main-caramel;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#banner-img {
  position: absolute;
  top: 75px;
  width: 100%;
  display: cover;
  z-index: -1;
  // background-attachment: fixed;
}
//   .box_child {
//     border: 1px dotted red;
//     width: 50px;
//     height: 50px;
//     // .box_child_list_item를 &으로 줄일 수도 있긴 함 비추
//     &_list_item { 
//       color: $my-red;
//     }
//   }

#preview-box {
  height: 120px;
  background-color: rgba(255, 255, 249, 0.356);
}

.movieBox {
  width: 90vw;
  margin-left: 5%;
}

// #app {
//   font-family: Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
// }

// 영화 목록의 포스터
.swiper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.swiper-slide {
  text-align:center;
  display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
  align-items:center; /* 위아래 기준 중앙정렬 */
  justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-button-next::after,
	.swiper-button-prev::after {
		display: none;
	}
// 영화 디테일
.movie-detail {
  display: flex;
  display: absolute;
  top: 0;
  flex-direction: column;
  align-items: center; /* 위아래 기준 중앙정렬 */
  justify-content: center; /* 좌우 기준 중앙정렬 */
  font-family: 'PopcornFont';
}
.movie-title{
  margin: 30px;
}
.backdropImg {
  display: absolute;
  z-index: -2;
  width: 100vw;
}
.actor {
  width: 600px;
  height: 500px;
  object-fit: contain;
}

.column-box {
  // display: static;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.profile-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

// 뱃지
.bedge-box {
  width: 80vh;
  height: 100px;
}
.progress {
  // width: 99%;
  height: 50px;
  padding: 1px;
  // border-radius: 2px;
  box-shadow: 0 0 10px #E0A21C,
                // 0 0 20px #FFD460,
                // 0 0 30px #f8e1a1,
                // 0 0 40px #fae9bc,
                // 0 0 50px #ffd972,
                // 0 0 60px #f8d679,
                // 0 0 70px #ffda72,
                // 0 0 80px #fdda78,
                // 0 0 90px #fcd771,
                // 0 0 100px #fada83;
}
.q-pa-md{
  margin-top: 30px;
  margin-bottom: 30px;
}
#collapseid1 {
background-color: #EA5455;
border-radius: 3px;
  &:hover {
    opacity: 0.7;
  }
}
#collapseid2 {
  background-color: #F07B3F;
  border-radius: 3px;
  &:hover {
    opacity: 0.7;
  }
}
#collapseid3 {
  background-color: $primary;
  border-radius: 3px;
  &:hover {
    opacity: 0.7;
  }
}
.genre-name {
  font-family: 'PopcornFont';
}

.usermovie {
width: 100%;
}

#yellow-box {
  display: block;
  color: $complementary;
  font-weight: bold;
  border-radius: 2px;
  background: $primary;
  box-shadow: 5px 5px 0 0 $primary, inset 4px 4px 0 0 white;
  border: 2px solid $complementary;
  border-radius: 3px;
  padding: 10px;
  width: 100px;
  // margin: 20px;
  transition: background 0.3s;
  &:hover {
    background: white;
    box-shadow: 5px 5px 0 0 $primary, inset 4px 4px 0 0 white;
  }

  &:active,
  &:focus {
      position: relative;
        top: 1px; 
      outline: none;
      background: darken($primary, 10%);
  }
}

.alert-text {
  text-shadow:1px 1px 1px $primary;
  font-weight: bold;
}