$primary: $main-yellow;
$complementary: #5a3b5d;
$lightsep: rgb(220, 220, 220);

.box {
  border: 1px solid black;
  width: 90%;
  height: 50px;
  padding: 50px;
  margin: 50px;
  color: $main-caramel;
  
//   .box_child {
//     border: 1px dotted red;
//     width: 50px;
//     height: 50px;
//     // .box_child_list_item를 &으로 줄일 수도 있긴 함 비추
//     &_list_item { 
//       color: $my-red;
//     }
//   }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #E0A21C;
    }
  }
}

.card_container {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
}


.actor {
  width: 600px;
  height: 500px;
  object-fit: contain;
}

#yellow-box {
  display: block;
  color: $complementary;
  font-weight: bold;
  border-radius: 2px;
  background: $primary;
  box-shadow: 5px 5px 0 0 $primary, inset 4px 4px 0 0 white;
  border: 2px solid $complementary;
  border-radius: 3px;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  transition: background 0.3s;
  &:hover {
    background: white;
    box-shadow: 5px 5px 0 0 $primary, inset 4px 4px 0 0 white;
  }

  &:active,
  &:focus {
      position: relative;
        top: 1px; 
      outline: none;
      background: darken($primary, 10%);
  }
}