$primary: hsl(222,80%,50%);
$primary-light: hsl(222,50%,95%);

$secondary: hsl(350,80%,50%);

$red: hsl(10,80%,50%);
$orange: hsl(50,80%,50%);

// *, *:before, *:after {
//   box-sizing: border-box;
// }

@mixin mobile ($size: 640px) {
  @media screen and (max-width: $size) {
    @content;
  }
}

// html {
//   font-size: 18px;
//   line-height: 1.5;
//   font-weight: 300;
//   color: #333;
//   font-family: "Nunito Sans", sans-serif;
// }

// body {
//   margin: 0;
//   padding: 0;
//   height: 100vh;
//   background-color: $primary-light;
//   background-attachment: fixed;
// }

.poster-content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.poster-card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  @include mobile (800px) {
    width: calc(50% - 2rem);
  }
  @include mobile (500px) {
    width: 100%;
  }
  background-size: cover;
}

.poster-front,
.poster-back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  // overflow: hidden;
}

.poster-front {
  background-size: cover;
  // background-blend-mode: overlay;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: linear-gradient(135deg, adjust-hue($primary, -20deg), $primary);
    opacity: .25;
    z-index: -1;
  }
  .poster-card:hover & {
    transform: rotateY(180deg);
  }
  .poster-card:nth-child(even):hover & {
    transform: rotateY(-180deg);
  }
}

.poster-back {
  background: #fff;
  
  transform: rotateY(-180deg);
  padding: 0 2em;
  background-color:rgba(0, 0, 0, 0.8);
  
  .poster-card:hover & {
    transform: rotateY(0deg);
  }
  
  .poster-card:nth-child(even) & {
    transform: rotateY(180deg);
  }
  
  .poster-card:nth-child(even):hover & {
    transform: rotateY(0deg);
  }
}

.poster-header {
  color: white;
  line-height: 1.5;
  font-weight: 500;
}
